*{margin: 0; padding: 0;}
a{text-decoration: none; color: #262626;}
ul{list-style: none;}
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #262626;
    min-width: 1320px;
}
.aos_box{
    overflow: hidden;
}
/* header */
#header_wrap


#header2{
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    z-index: 99;
    height: 126px;
    background-color: rgba(255, 255, 255, 1);

}
#header1{
    height: 126px;
    background-color: rgba(255, 255, 255, 0.3);
}

#header2 ul li a:hover{
    color: #aa8343;
    transition: all 0.5s;
}

.header_inner{
    margin: auto;
    width: 1320px;
}

.header_inner{
    background-color: rgba(255, 255, 255, 0.5);
    height: 126px;
    width: 1320px;
    margin: auto;
    z-index: 99;

}

.logo{
    display: block;
    float: left;
    padding: 30px 0 30px 60px;
}

.nav{
    float: right;
}
.nav li{
    float: left;
    padding: 50px 58px 50px 0;
}

.nav li a{
    font-size: 20px;
    color: #383535;
}
.nav li a:hover{
    color: #aa8343;
}



.sub_wrap{
    position: fixed;

    z-index: 99;
    top: 126px;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}
#header2 .sub_wrap{
    background-color:rgba(255, 255, 255, 0.9) ;
}

#header2 .sub_wrap a:hover{
    color: #aa8343;
}
.submenu{
    width: 1320px;
    margin: 0 auto;
}

.submenu_right{
	float: right;
}

.submenu_right ul{
	float: left;
    width: 134px;
    text-align: center;
    font-size: 13px;
    padding-left: 10px;
    box-sizing: border-box;
}
.padding_bottom{
    padding-bottom: 20px;
}
.submenu_right ul li a{
	display: block;
    color: #353535;
	padding: 6px 3px;
}
.submenu_right ul li a:hover{
	color: #fff;
}


.submenu_right ul:nth-child(4){
    padding-right: 45px;
}

/* top_banner */
#top_banner{
    background: url(../../images/news/top_banner_news.jpg) no-repeat 35% 30%;
    height: 240px;
    width: 100%;
    color: #fff;
    position: relative;
}

#top_banner h1{
    font-size: 30px;
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translate(-50%);
}

#top_banner ul {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
#top_banner ul li{
    float: left;
    margin: 0 45px;
}
#top_banner ul li a{
    font-weight: 300;
    color: #fff;
    font-size: 18px;
}
#top_banner .now{
    font-weight: bold;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
}

#top_banner ul li a:hover{
    border-bottom: 3px solid #fff;
    padding-bottom: 10px;
}
.banner2{
    width: 100%;
    height: 250px;
    background: url(../../images/project/wood/banner1.jpg) no-repeat center fixed;
}

#news_wrap{
    width: 1320px;
    margin: 100px auto 150px;
    position: relative;
    overflow: hidden;
}
.title{
    background: url(../../images/news/line.jpg) no-repeat center right;
    width: 500px;
}
#news_wrap img{
    display: block;

}

#news_wrap ul{
    margin-top: 100px;
}

.news1{
    position: relative;
    width: 1320px;
    height: 446px;
}

.img1{
    position: absolute;
    top: 0;
    left: 0;
    
}

.img2{
    position: absolute;
    top: 0;
    right:0;
}
.text1{
    text-align: right;
    position: absolute;
    top: 123px;
    left: 122px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    width: 393px;
    height: 260px;
    padding: 30px 30px 0 0;
    box-sizing: border-box;
    font-weight: 300;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.text1 h1{
    font-weight: 400;
    font-size: 30px;
    padding-bottom: 30px;
}


.news2{
    position: relative;
    width: 1320px;
    height: 512px;

}

.img4{
    position: absolute;
    right: 0;
    bottom: 42px;
}
.text2{
    position: absolute;
    top: 40px;
    right: 0;
    width: 500px;
    height: 300px;
    background-color: #fff;
    padding: 70px 0 0 22px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.text2 h1{
    font-weight: 400;
    font-size: 30px;
    padding-bottom: 30px;
}


.text3{
    text-align: right;
    position: absolute;
    top: 90px;
    left: 122px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    width: 393px;
    height: 260px;
    padding: 30px 30px 0 0;
    box-sizing: border-box;
    font-weight: 300;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.text3 h1{
font-weight: 400;
font-size: 30px;
padding-bottom: 30px;
}



.news3{
    position: relative;
    width: 1320px;
    height: 400px;
}


.news4{
    position: relative;
    width: 1320px;
    height: 512px;

}

.img8{
    position: absolute;
    right: 0;
    top: 15px;
}
.text4{
    position: absolute;
    top: 150px;
    left: 600px;
    width: 515px;
    height: 200px;
    background-color: #fff;
    padding: 40px 0 0 44px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.text4 h1{
    font-weight: 400;
    font-size: 30px;
    padding-bottom: 30px;
}




/* footer */

#footer{
    clear: both;
    width: 100%;
    height: 220px;
    background-color: #3f3b34;
}

.footer_inner{
    width: 1320px;
    margin:  0 auto;

}
.foot_logo{
    float: left;
    display: block;
    padding: 75px 0 0 60px;

}
.foot_text {
    color: #fff;
    font-size: 13px;
    float: left;
    text-align: center;
    width: 400px;
    height: 100px;
    padding: 63px 0 0 230px;
}

.foot2{
    font-size: 10px;
    padding-top: 10px;
}
.footer_inner ul{
    float: right;
    padding-top: 90px;
}
.footer_inner ul li{
    float: left;

}

.footer_inner ul li a{
    margin-left: 23px;
    transition: all 0.5s;
}

.footer_inner ul li:nth-child(3){
    padding-right: 60px;
}

.footer_inner ul li a:hover{
    opacity: 0.3;
}
