*{margin: 0; padding: 0;}
a{text-decoration: none; color: #262626;}
ul{list-style: none;}
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #262626;
    min-width: 1320px;
}
.aos_box{
    overflow: hidden;
}
/* header */
#header_wrap


#header2{
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    z-index: 99;
    height: 126px;
    background-color: rgba(255, 255, 255, 1);

}
#header1{
    height: 126px;
    background-color: rgba(255, 255, 255, 0.3);
}

#header2 ul li a:hover{
    color: #aa8343;
    transition: all 0.5s;
}

.header_inner{
    margin: auto;
    width: 1320px;
}

.header_inner{
    background-color: rgba(255, 255, 255, 0.5);
    height: 126px;
    width: 1320px;
    margin: auto;
    z-index: 99;

}

.logo{
    display: block;
    float: left;
    padding: 30px 0 30px 60px;
}

.nav{
    float: right;
}
.nav li{
    float: left;
    padding: 50px 30px 50px 0;
}

.nav li a{
    font-size: 20px;
    color: #383535;
}
.nav li a:hover{
    color: #aa8343;
}



.sub_wrap{
    position: fixed;

    z-index: 99;
    top: 126px;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}
#header2 .sub_wrap{
    background-color:rgba(255, 255, 255, 0.9) ;
}

#header2 .sub_wrap a:hover{
    color: #aa8343;
}
.submenu{
    width: 1320px;
    margin: 0 auto;
}

.submenu_right{
	float: right;
}

.submenu_right ul{
	float: left;
    width: 100px;
    text-align: center;
    font-size: 13px;
    padding-left: 10px;
    box-sizing: border-box;
}

.submenu_right ul li a{
	display: block;
    color: #353535;
	padding: 6px 3px;
}
.submenu_right ul li a:hover{
	color: #fff;
}


.submenu_right ul:nth-child(4){
    padding-right: 25px;
}

/* top_banner */
#top_banner{
    background-color: #b58a3e;
    height: 300px;
    width: 100%;
    color: #fff;
    position: relative;
}

#top_banner h1{
    font-size: 50px;
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translate(-50%);
}

#top_banner ul {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
#top_banner ul li{
    float: left;
    margin: 0 45px;
}
#top_banner ul li a{
    font-weight: 300;
    color: #fff;
    font-size: 20px;
}
#top_banner ul li:nth-child(1) a{
    font-weight: bold;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
}

/* text_banner */

.text_banner{
    width: 1320px;
    margin: auto;
    padding: 150px 0 0 120px;
    box-sizing: border-box;
}

.text_banner p:nth-child(1){
    font-size: 50px;
    text-shadow: 9px 9px 7px rgba(0, 0, 0, 0.3);
    
}

.text_banner p:nth-child(2){
    font-size: 60px;
    text-shadow: 9px 9px 7px rgba(0, 0, 0, 0.3);
    padding: 30px 25px;
}



/* essence */

#essence{
    width: 1320px;
    height: 685px;
    margin:  150px auto;
    position: relative;

    background: url(../../images/sub_brand/essence_bg.jpg) no-repeat right bottom;
}
#essence h1{
    background: url(../../images/sub_brand/essence_line.jpg) no-repeat center left;
    padding-left: 550px;
    position: absolute;
    top: 0;
    right: 0;
}
#essence ul{

    z-index: 5;
}
#essence ul img{
    display: block;
}

#essence >ul> li{
    float: left;
    margin-right: 18px;
}
.es_in_img{
    margin-top: 152px;
}

.es_in_img li{
    margin-top: 18px;
}
#essence ul li:nth-child(2){
    width: 150px;
}
#essence> ul li:nth-child(3){
    float: right;
    margin-top: 152px;
}

.goyo_text{
    padding-bottom: 50px;
}




/* logo */

#logo{
    width: 1320px;
    height: 316px;
    margin:  auto;
    position: relative;
}

#logo h1{
    background: url(../../images/sub_brand/logo_line.jpg) no-repeat  right center;
    position: absolute;
    top: 0;
    left: 0;
    padding-right: 490px;
}
.logo_text{
    float: left;
    margin: 125px 0 0 76px;
    text-align: right;
}

.main_logo{
    float: right;
    margin-right: 140px;
}
.main_logo h2{
    text-align: center;
    padding-bottom: 100px;
    font-size: 16px;
}


.sub_logo{
    background-color: #ededec;
    position: relative;

}

.sub_logo_inner{
    width: 1320px;
    height: 320px;
    margin: auto;
    text-align: center;

}

.sub_logo_inner h2{
    padding-top: 60px;
    font-size: 16px;
}
.sub_logo_inner ul {
    width: 800px;
    position: absolute;
    top: 95px;
    left: 50%;
    transform: translateX(-50%);
}
.sub_logo_inner ul li{
    float: left;
}

.sub_logo_inner ul li:nth-child(2){
    margin: 50px 76px;
}

#banner{
    width: 100%;
    height: 390px;
    background: url(../../images/sub_brand/sub_banner1.jpg) center top fixed;
}



/* color */

.brand_color{
    background-color: #3f3b34;
    height: 130px;
}

#color h1{
    padding-top: 50px;
    text-align: center;
    font-size: 40px;
    color: #fff;
    background: url(../../images/sub_brand/color_line.png) no-repeat 50% 90%;
}
.color_inner{
    width: 1320px;
    margin: auto;
}
.color_text{
    text-align: center;
    margin: 88px 0 65px;
}

.AA8343{
    width: 760px;
    height: 123px;
    background-color: #aa8343;
    position: relative;
    overflow: hidden;
    margin: 10px 0 63px 160px;
    float: left;
}
.AA8343_inner{
    border-radius: 100px;
    width: 160px;
    height: 160px;
    background-color: #fff;
    text-align: center;
    color: #aa8343;
    position: absolute;
    top: -20px;
    left: 50px;
    padding-top: 57px;
    box-sizing: border-box;
}
.AA8343_inner p:nth-child(1){
    width: 106px;
    font-size: 18px;
    color: #fff;
    background-color: #aa8343;
    border-radius: 100px;
    margin:0 0 12px 27px;
}

.color_circle{
    float: right;
    margin-right: 190px;
}

.sub_color{
    width: 1320px;
    margin: auto;

}
.sub_color li{
    float: left;
    width: 33.33%;
    height: 47px;
    margin-bottom: 130px;
}

.sub_color1{
    background-color: #706041;
    position: relative;
    overflow: hidden;
    color: #706041;
    box-sizing: border-box;
}

.sub_color1 p:nth-child(1){
    background-color: #706041;
    width: 106px;
    font-size: 18px;
    color: #fff;
    border-radius: 100px;
    margin:0 0 3px 27px;
}

.sub_color2{
    background-color: #3f3b34;
    position: relative;
    overflow: hidden;
    color: #3f3b34;
}

.sub_color2 p:nth-child(1){
    background-color: #3f3b34;
    width: 106px;
    font-size: 18px;
    color: #fff;
    border-radius: 100px;
    margin:0 0 3px 27px;
}
.sub_color3{
    background-color: #dbc19c;
    position: relative;
    overflow: hidden;
    color: #dbc19c;
}
.sub_color3 p:nth-child(1){
    background-color: #dbc19c;
    width: 106px;
    font-size: 18px;
    color: #fff;
    border-radius: 100px;
    margin:0 0 3px 27px;
}


.sub_color li div{
    width: 160px;
    height: 160px;
    border-radius: 100px;
    background-color: #fff;
    text-align: center;
    position: absolute;
    top: -38px;
    left: 47px;
    padding-top: 38px;
    box-sizing: border-box;
}

/* footer */

#footer{
    clear: both;
    width: 100%;
    height: 220px;
    background-color: #3f3b34;
}

.footer_inner{
    width: 1320px;
    margin:  0 auto;

}
.foot_logo{
    float: left;
    display: block;
    padding: 75px 0 0 60px;

}
.foot_text {
    color: #fff;
    font-size: 13px;
    float: left;
    text-align: center;
    width: 400px;
    height: 100px;
    padding: 63px 0 0 230px;
}

.foot2{
    font-size: 10px;
    padding-top: 10px;
}
.footer_inner ul{
    float: right;
    padding-top: 90px;
}
.footer_inner ul li{
    float: left;

}

.footer_inner ul li a{
    margin-left: 23px;
    transition: all 0.5s;
}

.footer_inner ul li:nth-child(3){
    padding-right: 60px;
}

.footer_inner ul li a:hover{
    opacity: 0.3;
}
